<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://openaircinema.blog/wp-content/uploads/2016/02/pop-up-cinema.jpg)">
  Create a new movie list
</div>

<div class="container mt-4">
  <%= render 'form', list: @list %>
</div>
